name: ci

on: [push, pull_request]

jobs:
  build:
    #    if: github.ref == 'refs/heads/dev'
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

      - name: Build Docker image back
        run: docker build -f=Dockerfile -t yutfut/back_mppr:${GITHUB_SHA::8} .

      - name: Push the image baÑk
        run: docker push yutfut/back_mppr:${GITHUB_SHA::8}

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: executing remote ssh commands to deploy
        uses: appleboy/ssh-action@master
        with:
          envs: GITHUB_SHA
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          script: |
            cd infrastructure/
            sudo docker-compose stop
            sudo docker-compose down
            df -h
            sudo docker rm -f $(sudo docker ps -aq)
            sudo docker rmi -f $(sudo docker images -a yutfut/back_mppr)
            df -h
            echo BACK_MPPR_VERSION=${GITHUB_SHA::8} >> .env
            sudo docker-compose up -d
            df -h